# Electroprophet‚ö°Ô∏è

In this notebook, I will do the first steps on our final project for Le Wagon's Data Science bootcamp. Here, I'll try to model the carbon emission in France using weather data, in order to provide recomendations for users to reduce their carbon footprint üë£.

## Getting the data

In [1]:
import requests

In [55]:
import datetime
from dateutil.relativedelta import relativedelta

In [45]:
import pandas as pd

### 1. Wheater API

Here we'll be able to get weather data of a chosen city.

As the energy data is given by region, later we'll have to check how many cities we have to take in consideration in order to get the weather in a given region.

In [43]:
city = 'Paris'

city_response = requests.get('https://geocoding-api.open-meteo.com/v1/search',
                       params = {'name': city}).json()

lat = city_info['results'][0]['latitude']
lon = city_info['results'][0]['longitude']

In [87]:
end_date = (date.today() - relativedelta(days=9)).strftime('%Y-%m-%d')
start_date = (date.today() - relativedelta(years=10)).strftime('%Y-%m-%d')

In [88]:
weather_response = requests.get('https://archive-api.open-meteo.com/v1/archive',
                       params = {'latitude': lat,
                                'longitude': lon,
                                'start_date': start_date,
                                'end_date': end_date,
                                'hourly':['windspeed_10m','cloudcover']}).json()

In [89]:
weather_df = pd.DataFrame(weather_response['hourly'], columns = ['time','windspeed_10m','cloudcover'])

weather_df

                   time  windspeed_10m  cloudcover
0      2013-03-08T00:00            9.6          62
1      2013-03-08T01:00           10.8          79
2      2013-03-08T02:00           12.1         100
3      2013-03-08T03:00           12.3         100
4      2013-03-08T04:00           11.3         100
...                 ...            ...         ...
87451  2023-02-27T19:00           18.9           2
87452  2023-02-27T20:00           18.1           0
87453  2023-02-27T21:00           17.6           1
87454  2023-02-27T22:00           16.1           5
87455  2023-02-27T23:00           15.2           0

[87456 rows x 3 columns]

### 2. Energy API

In [ ]:
energy_response = requests.get('',
                       params = {}).json()