In [ ]:
import requests
import pandas as pd
import os

In [6]:
url = 'https://odre.opendatasoft.com/api/v2/catalog/datasets/eco2mix-regional-cons-def/exports/json?limit=-1&offset=0&refine=libelle_region%3AHauts-de-France&lang=en&timezone=Europe%2FParis'

response = requests.request("GET", url).json()

df = pd.DataFrame(response)
df = df.sort_values('date_heure')
df

,code_insee_region,libelle_region,nature,date,heure,date_heure,consommation,thermique,nucleaire,eolien,...,tch_nucleaire,tco_eolien,tch_eolien,tco_solaire,tch_solaire,tco_hydraulique,tch_hydraulique,tco_bioenergies,tch_bioenergies,column_30
0,32,Hauts-de-France,Données définitives,2013-01-01,00:00,2013-01-01T00:00:00+01:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None
1,32,Hauts-de-France,Données définitives,2013-01-01,00:30,2013-01-01T00:30:00+01:00,5989.0,828.0,4499.0,1115.0,...,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None
2,32,Hauts-de-France,Données définitives,2013-01-01,01:00,2013-01-01T01:00:00+01:00,5832.0,830.0,4500.0,1062.0,...,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None
3,32,Hauts-de-France,Données définitives,2013-01-01,01:30,2013-01-01T01:30:00+01:00,5926.0,833.0,4499.0,1014.0,...,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None
4,32,Hauts-de-France,Données définitives,2013-01-01,02:00,2013-01-01T02:00:00+01:00,5695.0,828.0,4497.0,951.0,...,NaN,NaN,NaN,NaN,NaN,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165019,32,Hauts-de-France,Données consolidées,2022-05-31,21:30,2022-05-31T21:30:00+02:00,4168.0,965.0,3615.0,778.0,...,66.21,18.67,14.82,0.07,0.87,0.05,50,2.64,57.29,None
165020,32,Hauts-de-France,Données consolidées,2022-05-31,22:00,2022-05-31T22:00:00+02:00,4266.0,933.0,3618.0,691.0,...,66.26,16.20,13.16,0.00,0.00,0.05,50,2.63,58.33,None
165021,32,Hauts-de-France,Données consolidées,2022-05-31,22:30,2022-05-31T22:30:00+02:00,4439.0,926.0,3620.0,612.0,...,66.30,13.79,11.66,0.00,0.00,0.05,50,2.5,57.81,None
165022,32,Hauts-de-France,Données consolidées,2022-05-31,23:00,2022-05-31T23:00:00+02:00,4499.0,940.0,3620.0,604.0,...,66.30,13.43,11.51,0.00,0.00,0.04,50,2.51,58.85,None
165023,32,Hauts-de-France,Données consolidées,2022-05-31,23:30,2022-05-31T23:30:00+02:00,4268.0,883.0,3624.0,593.0,...,66.37,13.89,11.30,0.00,0.00,0.02,25,2.62,58.33,None

In [7]:
df.drop(['column_30'], axis=1, inplace=True)

In [2]:
url_1 = 'https://odre.opendatasoft.com/api/v2/catalog/datasets/eco2mix-regional-tr/exports/json?limit=-1&offset=0&refine=libelle_region%3AHauts-de-France&lang=en&timezone=Europe%2FParis'

response_1 = requests.request("GET", url_1).json()

df_1 = pd.DataFrame(response_1)
df_1 = df_1.sort_values('date_heure')
df_1

,code_insee_region,libelle_region,nature,date,heure,date_heure,consommation,thermique,nucleaire,eolien,...,tch_nucleaire,tco_eolien,tch_eolien,tco_solaire,tch_solaire,tco_hydraulique,tch_hydraulique,tco_bioenergies,tch_bioenergies,column_68
15263,32,Hauts-de-France,Données temps réel,2022-06-01,00:00,2022-06-01T00:00:00+02:00,4664.0,1049.0,3598.0,627.0,...,65.90,13.44,11.95,0.0,0.0,0.02,25.0,2.81,68.23,None
15264,32,Hauts-de-France,Données temps réel,2022-06-01,00:15,2022-06-01T00:15:00+02:00,4386.0,1067.0,3605.0,654.0,...,66.03,14.91,12.46,0.0,0.0,0.02,25.0,2.96,67.71,None
19580,32,Hauts-de-France,Données temps réel,2022-06-01,00:30,2022-06-01T00:30:00+02:00,4245.0,1045.0,3601.0,698.0,...,65.95,16.44,13.30,0.0,0.0,0.02,25.0,3.06,67.71,None
26375,32,Hauts-de-France,Données temps réel,2022-06-01,00:45,2022-06-01T00:45:00+02:00,4214.0,1040.0,3602.0,693.0,...,65.97,16.45,13.20,0.0,0.0,0.02,25.0,3.08,67.71,None
19581,32,Hauts-de-France,Données temps réel,2022-06-01,01:00,2022-06-01T01:00:00+02:00,4079.0,1042.0,3603.0,687.0,...,65.99,16.84,13.09,0.0,0.0,0.02,25.0,3.21,68.23,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23285,32,Hauts-de-France,Données temps réel,2023-03-10,22:45,2023-03-10T22:45:00+01:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
13674,32,Hauts-de-France,Données temps réel,2023-03-10,23:00,2023-03-10T23:00:00+01:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
12440,32,Hauts-de-France,Données temps réel,2023-03-10,23:15,2023-03-10T23:15:00+01:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
12441,32,Hauts-de-France,Données temps réel,2023-03-10,23:30,2023-03-10T23:30:00+01:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
12442,32,Hauts-de-France,Données temps réel,2023-03-10,23:45,2023-03-10T23:45:00+01:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None

In [5]:
df_1.drop(['flux_physiques_d_auvergne_rhone_alpes_vers_nouvelle_aquitaine',
       'flux_physiques_de_bourgogne_franche_comte_vers_nouvelle_aquitaine',
       'flux_physiques_de_bretagne_vers_nouvelle_aquitaine',
       'flux_physiques_de_centre_val_de_loire_vers_nouvelle_aquitaine',
       'flux_physiques_de_grand_est_vers_nouvelle_aquitaine',
       'flux_physiques_de_hauts_de_france_vers_nouvelle_aquitaine',
       'flux_physiques_d_ile_de_france_vers_nouvelle_aquitaine',
       'flux_physiques_de_normandie_vers_nouvelle_aquitaine',
       'flux_physiques_de_nouvelle_aquitaine_vers_nouvelle_aquitaine',
       'flux_physiques_d_occitanie_vers_nouvelle_aquitaine',
       'flux_physiques_de_pays_de_la_loire_vers_nouvelle_aquitaine',
       'flux_physiques_de_paca_vers_nouvelle_aquitaine',
       'flux_physiques_de_nouvelle_aquitaine_vers_auvergne_rhone_alpes',
       'flux_physiques_de_nouvelle_aquitaine_vers_bourgogne_franche_comte',
       'flux_physiques_de_nouvelle_aquitaine_vers_bretagne',
       'flux_physiques_de_nouvelle_aquitaine_vers_centre_val_de_loire',
       'flux_physiques_de_nouvelle_aquitaine_vers_grand_est',
       'flux_physiques_de_nouvelle_aquitaine_vers_hauts_de_france',
       'flux_physiques_de_nouvelle_aquitaine_vers_ile_de_france',
       'flux_physiques_de_nouvelle_aquitaine_vers_normandie',
       'flux_physiques_de_nouvelle_aquitaine_vers_nouvelle_aquitaine0',
       'flux_physiques_de_nouvelle_aquitaine_vers_occitanie',
       'flux_physiques_de_nouvelle_aquitaine_vers_pays_de_la_loire',
       'flux_physiques_de_nouvelle_aquitaine_vers_paca',
       'flux_physiques_allemagne_vers_nouvelle_aquitaine',
       'flux_physiques_belgique_vers_nouvelle_aquitaine',
       'flux_physiques_espagne_vers_nouvelle_aquitaine',
       'flux_physiques_italie_vers_nouvelle_aquitaine',
       'flux_physiques_luxembourg_vers_nouvelle_aquitaine',
       'flux_physiques_royaume_uni_vers_nouvelle_aquitaine',
       'flux_physiques_suisse_vers_nouvelle_aquitaine',
       'flux_physiques_de_nouvelle_aquitaine_vers_allemagne',
       'flux_physiques_de_nouvelle_aquitaine_vers_belgique',
       'flux_physiques_de_nouvelle_aquitaine_vers_espagne',
       'flux_physiques_de_nouvelle_aquitaine_vers_italie',
       'flux_physiques_de_nouvelle_aquitaine_vers_luxembourg',
       'flux_physiques_de_nouvelle_aquitaine_vers_royaume_uni',
       'flux_physiques_de_nouvelle_aquitaine_vers_suisse', 'column_68'], axis=1, inplace=True)

In [21]:
df_final = pd.concat([df, df_1])
df_final

,code_insee_region,libelle_region,nature,date,heure,date_heure,consommation,thermique,nucleaire,eolien,...,tco_nucleaire,tch_nucleaire,tco_eolien,tch_eolien,tco_solaire,tch_solaire,tco_hydraulique,tch_hydraulique,tco_bioenergies,tch_bioenergies
0,32,Hauts-de-France,Données définitives,2013-01-01,00:00,2013-01-01T00:00:00+01:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None
1,32,Hauts-de-France,Données définitives,2013-01-01,00:30,2013-01-01T00:30:00+01:00,5989.0,828.0,4499.0,1115.0,...,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None
2,32,Hauts-de-France,Données définitives,2013-01-01,01:00,2013-01-01T01:00:00+01:00,5832.0,830.0,4500.0,1062.0,...,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None
3,32,Hauts-de-France,Données définitives,2013-01-01,01:30,2013-01-01T01:30:00+01:00,5926.0,833.0,4499.0,1014.0,...,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None
4,32,Hauts-de-France,Données définitives,2013-01-01,02:00,2013-01-01T02:00:00+01:00,5695.0,828.0,4497.0,951.0,...,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23285,32,Hauts-de-France,Données temps réel,2023-03-10,22:45,2023-03-10T22:45:00+01:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13674,32,Hauts-de-France,Données temps réel,2023-03-10,23:00,2023-03-10T23:00:00+01:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12440,32,Hauts-de-France,Données temps réel,2023-03-10,23:15,2023-03-10T23:15:00+01:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12441,32,Hauts-de-France,Données temps réel,2023-03-10,23:30,2023-03-10T23:30:00+01:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12442,32,Hauts-de-France,Données temps réel,2023-03-10,23:45,2023-03-10T23:45:00+01:00,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
df_final.insert(3, "time", df_final['date'] + ' ' + df_final['heure'])

df_final.head()

,code_insee_region,libelle_region,nature,time,date,heure,date_heure,consommation,thermique,nucleaire,...,tco_nucleaire,tch_nucleaire,tco_eolien,tch_eolien,tco_solaire,tch_solaire,tco_hydraulique,tch_hydraulique,tco_bioenergies,tch_bioenergies
0,32,Hauts-de-France,Données définitives,2013-01-01 00:00,2013-01-01,00:00,2013-01-01T00:00:00+01:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None
1,32,Hauts-de-France,Données définitives,2013-01-01 00:30,2013-01-01,00:30,2013-01-01T00:30:00+01:00,5989.0,828.0,4499.0,...,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None
2,32,Hauts-de-France,Données définitives,2013-01-01 01:00,2013-01-01,01:00,2013-01-01T01:00:00+01:00,5832.0,830.0,4500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None
3,32,Hauts-de-France,Données définitives,2013-01-01 01:30,2013-01-01,01:30,2013-01-01T01:30:00+01:00,5926.0,833.0,4499.0,...,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None
4,32,Hauts-de-France,Données définitives,2013-01-01 02:00,2013-01-01,02:00,2013-01-01T02:00:00+01:00,5695.0,828.0,4497.0,...,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None

In [23]:
df_final['time'] =  pd.to_datetime(df_final['time'])

In [24]:
df_final.dtypes

code_insee_region              object
libelle_region                 object
nature                         object
time                   datetime64[ns]
date                           object
heure                          object
date_heure                     object
consommation                  float64
thermique                     float64
nucleaire                     float64
eolien                        float64
solaire                       float64
hydraulique                   float64
pompage                        object
bioenergies                   float64
ech_physiques                 float64
stockage_batterie             float64
destockage_batterie            object
eolien_terrestre               object
eolien_offshore                object
tco_thermique                 float64
tch_thermique                 float64
tco_nucleaire                 float64
tch_nucleaire                 float64
tco_eolien                    float64
tch_eolien                    float64
tco_solaire                   float64
tch_solaire                   float64
tco_hydraulique                object
tch_hydraulique                object
tco_bioenergies                object
tch_bioenergies                object
dtype: object

In [26]:
df_final

,code_insee_region,libelle_region,nature,time,date,heure,date_heure,consommation,thermique,nucleaire,...,tco_nucleaire,tch_nucleaire,tco_eolien,tch_eolien,tco_solaire,tch_solaire,tco_hydraulique,tch_hydraulique,tco_bioenergies,tch_bioenergies
0,32,Hauts-de-France,Données définitives,2013-01-01 00:00:00,2013-01-01,00:00,2013-01-01T00:00:00+01:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None
1,32,Hauts-de-France,Données définitives,2013-01-01 00:30:00,2013-01-01,00:30,2013-01-01T00:30:00+01:00,5989.0,828.0,4499.0,...,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None
2,32,Hauts-de-France,Données définitives,2013-01-01 01:00:00,2013-01-01,01:00,2013-01-01T01:00:00+01:00,5832.0,830.0,4500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None
3,32,Hauts-de-France,Données définitives,2013-01-01 01:30:00,2013-01-01,01:30,2013-01-01T01:30:00+01:00,5926.0,833.0,4499.0,...,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None
4,32,Hauts-de-France,Données définitives,2013-01-01 02:00:00,2013-01-01,02:00,2013-01-01T02:00:00+01:00,5695.0,828.0,4497.0,...,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23285,32,Hauts-de-France,Données temps réel,2023-03-10 22:45:00,2023-03-10,22:45,2023-03-10T22:45:00+01:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13674,32,Hauts-de-France,Données temps réel,2023-03-10 23:00:00,2023-03-10,23:00,2023-03-10T23:00:00+01:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12440,32,Hauts-de-France,Données temps réel,2023-03-10 23:15:00,2023-03-10,23:15,2023-03-10T23:15:00+01:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12441,32,Hauts-de-France,Données temps réel,2023-03-10 23:30:00,2023-03-10,23:30,2023-03-10T23:30:00+01:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12442,32,Hauts-de-France,Données temps réel,2023-03-10 23:45:00,2023-03-10,23:45,2023-03-10T23:45:00+01:00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN